<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/javascript/modules/login.js}"></script>
    <script type="text/javascript" th:src="@{/resources/javascript/jquery.uniform.js}"></script>
    <script type="text/javascript" th:src="@{/resources/style/what.js}"></script>
	
    <link rel="stylesheet" th:href="@{/resources/style/multiple-themes.css}" media="screen" />
</head>
<body>
    <p th:text="'Hello, ' + ${message} + '!'" />
    
    <span>
    	<h1>Uniform Demo</h1>
    </span>
</body>
</html>








